
<div class="Row">

        <figure class="snip1336">
        <img src={{user_image}} alt="sample87" />
        <figcaption>
        <img src="http://img01.deviantart.net/b355/i/2011/178/a/f/octocat_by_rstovall-d3k6a7n.jpg" alt="profile-sample4" class="profile" />
        <h2>{{user}}<span>{{name}}</span></h2>
            <!--{{#list repos}}-->
        <!--<p> {{name}} - Owner:{{owner.login}} ({{#if private}} private {{else}} public {{/if}})</p>-->
            <!--{{/list}}-->
        <p>Hover over the bar to see file information</p>
        <!--<a href="#" class="follow">Follow</a>-->
        <!--<a href="/" class="info">Home screen</a>-->
        </figcaption>
        </figure>


    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Private</th>
        </tr>
        {{#each repos}}
            <tr>
                <th>{{name}}</th>
                <th>{{owner.login}}</th>
                <th>{{#if private}} private {{else}} public {{/if}}</th>
            </tr>
        {{/each}}
    </table>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js'></script>
        <script  src="/js/chart.js"></script>



</div>

