
<div class="Row">

    <div class="Column">
        <figure class="snip1336">
        <img src={{user_image}} alt="sample87" />
        <figcaption>
        <img src="http://img01.deviantart.net/b355/i/2011/178/a/f/octocat_by_rstovall-d3k6a7n.jpg" alt="profile-sample4" class="profile" />
        <h2>{{user}}<span>{{name}}</span></h2>

        <h3>Repos</h3>
            {{#list repos}}
        <p> {{name}} - Owner:{{owner.login}} ({{#if private}} private {{else}} public {{/if}})</p>
            {{/list}}
        <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
        <!--<a href="#" class="follow">Follow</a>-->
        <!--<a href="/" class="info">Home screen</a>-->
        </figcaption>
        </figure>


    </div>



    <div class="Column">

        <svg></svg>
        <!--<svg version="1.1"-->
	 <!--xmlns="http://www.w3.org/2000/svg"-->
     <!--xmlns:xlink="http://www.w3.org/1999/xlink"-->
	 <!--x="0px" y="0px" width="100px" height="0px"-->
	 <!--overflow="visible" xml:space="preserve">-->
    <!--<g id="circleBarCharts">-->
        <!--&lt;!&ndash; Web Circle Bar Chart &ndash;&gt;-->
        <!--<g id="circleBar-web-group" transform="translate(0,0)">-->
          <!--<image id="circleBar-web-icon" opacity="0" x="166" y="112" overflow="visible" width="98" height="77" xlink:href="http://www.frank-designs.com/images/icon_web.png" />-->
            <!--<text id="circleBar-web-text" opacity="0" x="200" y="143">LANGUAGES</text>-->
            <!--<g id="circleBar-web-chart" transform="translate(215,150)"></g>-->
            <!--<clippath id="circleBar-web-clipPath">-->
                <!--<rect id="circleBar-web-clipLabels" x="205" y="215" width="180" height="0"></rect>-->
            <!--</clippath>-->
            <!--<g id="circleBar-web-legend" clip-path="url(#circleBar-web-clipPath)">-->
                <!--<text id="circleBar-web-values" transform="translate(222,225)"></text>-->
                <!--<text id="circleBar-web-labels" transform="translate(277,225)"></text>-->
            <!--</g>-->
        <!--</g>-->
        <!--&lt;!&ndash; END: Web Circle Bar Chart &ndash;&gt;-->
        <!--&lt;!&ndash; Mobile Circle Bar Chart &ndash;&gt;-->
        <!--<g id="circleBar-mobile-group" transform="translate(362,0)">-->
            <!--<image id="circleBar-mobile-icon" opacity="0" x="195" y="112" overflow="visible" width="40" height="77" xlink:href="http://www.frank-designs.com/images/icon_mobile.png" />-->
            <!--<text id="circleBar-mobile-text" opacity="0" x="187" y="155">MOBILE</text>-->
            <!--<g id="circleBar-mobile-chart" transform="translate(215,150)"></g>-->
            <!--<clippath id="circleBar-mobile-clipPath">-->
                <!--<rect id="circleBar-mobile-clipLabels" x="205" y="215" width="150" height="0"></rect>-->
            <!--</clippath>-->
            <!--<g id="circleBar-mobile-legend" clip-path="url(#circleBar-mobile-clipPath)">-->
                <!--<text id="circleBar-mobile-values" transform="translate(222,225)"></text>-->
                <!--<text id="circleBar-mobile-labels" transform="translate(277,225)"></text>-->
            <!--</g>-->
        <!--</g>-->
        <!--&lt;!&ndash; END: Mobile Circle Bar Chart &ndash;&gt;-->
    <!--</g>-->
<!--</svg>-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js'></script>
        <script  src="/js/chart.js"></script>



</div>

